<?xml version="1.0" encoding="UTF-8"?>	
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	
	 xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/
javaee/web-app_2_5.xsd"	
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/
javaee/web-app_3_0.xsd"	
	 id="WebApp_ID" version="3.0">	
	 <display-name>ForestHam</display-name>	
	
	 <servlet>	
	 	<servlet-name>StoreStats</servlet-name>	
	 	<servlet-class>com.HamServer.Servlets.StoreStats</servlet-class>	
	 </servlet>	
	 <servlet>	
	 	<servlet-name>GetStats</servlet-name>	
	 	<servlet-class>com.HamServer.Servlets.GetStats</servlet-class>	
	 </servlet>	
	 <servlet>	
	 	<servlet-name>AddFriend</servlet-name>	
	 	<servlet-class>com.HamServer.Servlets.AddFriend</servlet-class>	
	 </servlet>	
	 <servlet>	
	 	<servlet-name>DefaultServlet</servlet-name>	
	 	<servlet-class>com.HamServer.Servlets.DefaultServlet</servlet-class>	
	 </servlet>
	
	 <servlet-mapping>	
	 	<servlet-name>StoreStats</servlet-name>	
	 	<url-pattern>/store</url-pattern>	
	 </servlet-mapping>
	 <servlet-mapping>	
	 	<servlet-name>GetStats</servlet-name>	
	 	<url-pattern>/getstats</url-pattern>	
	 </servlet-mapping>
	 <servlet-mapping>	
	 	<servlet-name>AddFriend</servlet-name>	
	 	<url-pattern>/addfriend</url-pattern>	
	 </servlet-mapping>
	 <servlet-mapping>	
	 	<servlet-name>DefaultServlet</servlet-name>	
	 	<url-pattern>/</url-pattern>	
	 </servlet-mapping>
	 
</web-app>